<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"> </listener>
    </listeners>

    <testsuites>
        <testsuite name="Unit">
            <directory>test</directory>
            <exclude>test/ModelsPersistencyTest.php</exclude>
        </testsuite>
        <testsuite name="Integration">
            <file>test/ModelsPersistencyTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="Asia/Novosibirsk"/>
    </php>
</phpunit>